<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<div class="mb-3" style="margin: 5%;">
  <label class="form-label">Bagian II</label>
  <br>
  <label class="form-label">Menghitung Pecahan Mata Uang</label>
  <input type="number" class="form-control" (change)="bagian2($event)" placeholder="input">
  <label class="form-label">Jumlah Uang : {{total |currency:"Rp "}}</label>
  <br>
  <div *ngFor="let item of dataBagian2" style="height: 20px;">
    <br>
    <label class="form-label">{{item}}</label>
  </div>
  <br>

  <div>
    <label class="form-label">Bagian III</label>
    <input type="number" class="form-control" (change)="bagian3($event)" placeholder="input">
    <label class="form-label">{{hasil}}</label>
  </div>

</div>
